.dw-steps{
  &-item{
    position: relative;
    padding-left: 40rpx;
    padding-bottom: 32rpx;
    &-dot{
      position: absolute;
      left: 20rpx;
      top: 20rpx;
      transform: translate(-50%, 0);
      &.default{
        width: 48rpx;
        height: 48rpx;
        transform: translate(-50%, 0) scale(0.45);
        transform-origin: center center;
        border-radius: 50%;
        background: #FFF;
        box-shadow: 0 0 0 2rpx #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
          content: " ";
          width: 24rpx;
          height: 24rpx;
          border-radius: 50%;
          background: #00B768;
        }
      }
    }

    &-title{

    }

    &-date{
      margin-top: 8rpx;
      color: #666;
      font-size: 28rpx;
    }
    &-body{
      margin-top: 12rpx;
    }
    &::before{
      content: ' ';
      position: absolute;
      width: 1px;
      height: 100%;
      background: #D6EDE6;
      left: 20rpx;
      transform: translateX(-50%);
      top: 40rpx;
    }
    &:last-of-type{
      &::before{
        display: none;
      }
    }
  }
}