uni-view[data-v-eafac818]{box-sizing:border-box}.inputs[data-v-eafac818]{background:#f3f3f5;height:100vh;display:flex;flex-direction:column}.inputs-body[data-v-eafac818]{flex:1;margin-top:.75rem;background:#fff}
