@import "./components/card.scss";
@import "./components/cell.scss";
@import "./components/steps.scss";

.dw-navs {
  display: flex;
  margin-bottom: -24rpx;
  width: 100%;
  &.grid {
    display: grid;
    grid-gap: 24rpx;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 0; // 网格布局下使用 gap，所以重置 margin
    .dw-user-navs-item {
      // 网格布局下使用 gap，所以重置 margin
      margin-bottom: 0;
    }
    &.col3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.col4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.col5 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24rpx;
    flex: 1;
    &.gapline {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 28rpx;
        background: #f5f5f5;
      }
    }
    &-badge {
      position: absolute;
      font-size: 18rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      color: #fff;
      right: 0;
      top: 0;
      transform: translate(50%, -50%);
      width: 28rpx;
      height: 28rpx;
      border-radius: 50%;
      background: #f56c21;
    }
    &-icon {
      width: 64rpx;
      height: 64rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    &-title {
      margin-top: 12rpx;
      font-size: 28rpx;
    }
  }
}


// 用户卡片
.dw-usercard{
  display: flex;
  align-items: center;
  &-avatar{
    width: 128rpx;
    height: 128rpx;
    border-radius: 50%;
    margin-right: 24rpx;
    flex: 0 0 auto;
  }
  &-body{
    flex: 1;
    overflow: hidden;
  }
  &-title{
    line-height: 1;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-desc{
    margin-top: 12rpx;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 28rpx;
    color: #B5E0C6;
    white-space: nowrap;
    line-height: 1;
  }
  &-tag{
    display: inline-flex;
    margin-top: 12rpx;
    background: #A2CF25;
    font-size: 22rpx;
    height: 32rpx;
    padding: 0 12rpx;
    border-radius: 32rpx;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
}