.dw-card {
  background: #fff;
  border-radius: 24rpx;
}

.dw-card.square {
  border-radius: 8rpx;
}

.dw-card.none {
  border-radius: 0;
}

.dw-card-header {
  padding: 16rpx 24rpx;
  border-bottom: 1px solid #efefef;
}

.dw-card-body {
  padding: 16rpx 24rpx;
}

.dw-cell {
  background: #FFF;
}

.dw-cell.round {
  border-radius: 12rpx;
}

.dw-cell-body {
  display: flex;
  align-items: center;
  padding: 24rpx;
}

.dw-cell-prefix {
  flex: 0 0 auto;
  margin-right: 24rpx;
}

.dw-cell-content {
  flex: 1;
}

.dw-cell-extra {
  flex: 0 0 auto;
  margin-left: 24rpx;
  display: flex;
  align-items: center;
}

.dw-cell-footer {
  border-top: 1px solid #efefef;
  padding: 24rpx;
}

.dw-navs {
  display: flex;
  margin-bottom: -24rpx;
  width: 100%;
}

.dw-navs.grid {
  display: grid;
  grid-gap: 24rpx;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 0;
}

.dw-navs.grid .dw-user-navs-item {
  margin-bottom: 0;
}

.dw-navs.grid.col3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.dw-navs.grid.col4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dw-navs.grid.col5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dw-navs-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24rpx;
  flex: 1;
}

.dw-navs-item.gapline::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 28rpx;
  background: #f5f5f5;
}

.dw-navs-item-badge {
  position: absolute;
  font-size: 18rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 28rpx;
  height: 28rpx;
  border-radius: 50%;
  background: #f56c21;
}

.dw-navs-item-icon {
  width: 64rpx;
  height: 64rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dw-navs-item-title {
  margin-top: 12rpx;
  font-size: 28rpx;
}

.dw-usercard {
  display: flex;
  align-items: center;
}

.dw-usercard-avatar {
  width: 128rpx;
  height: 128rpx;
  border-radius: 50%;
  margin-right: 24rpx;
  flex: 0 0 auto;
}

.dw-usercard-body {
  flex: 1;
  overflow: hidden;
}

.dw-usercard-title {
  line-height: 1;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dw-usercard-desc {
  margin-top: 12rpx;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 28rpx;
  color: #B5E0C6;
  white-space: nowrap;
  line-height: 1;
}

.dw-usercard-tag {
  display: inline-flex;
  margin-top: 12rpx;
  background: #A2CF25;
  font-size: 22rpx;
  height: 32rpx;
  padding: 0 12rpx;
  border-radius: 32rpx;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
